.container {
    background: lightblue;
    cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
      auto;
    display: flex;
    align-items: center;
    height: 80vh;
    justify-content: center;
    padding: 1vh 3vw 4vh;
    
  }
  .deck {
    margin-bottom: 3vh;
    margin-top: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 1vh 1vw;
    position: absolute;
    width: 90%;
    height: 85vh;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
  }
  
  .deck > div {
    padding: auto;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    width: 55vh;
    height: 90%;
    max-height: 900px;
    will-change: transform;
    background-size: cover;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }
  